<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/home">
      <span class="fs-3 me-2"></span> StudentSystem
    </a>

    <div class="navbar-nav ms-auto">
      <a class="nav-link px-3" routerLink="/home" routerLinkActive="active text-light fw-bold"
        >Home</a
      >
      <a class="nav-link px-3" routerLink="/students" routerLinkActive="active text-light fw-bold"
        >Students List</a
      >
      <a
        class="nav-link px-3"
        routerLink="/add-student"
        routerLinkActive="active text-light fw-bold"
        >Add Student</a
      >
    </div>
  </div>
</nav>
